@font-face {
  font-family: "MiddleEarth";
  src: url("assets/font/MiddleEarth.woff2") format("woff2"),
    url("assets/font/MiddleEarth.woff") format("woff");
  font-style: normal;
  font-display: swap;
}
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #000000;
}
.App {
  background-color: #a6c2b6;
  min-height: 100vh;
}
.btn-brown {
  background-color: rgba(225, 200, 160, 1) !important;
}
button:focus,
.btn,
.btn:focus,
.btn:active,
.btn:hover,
.btn:active:focus {
  outline: none !important;
  box-shadow: none !important;
  border-style: none !important;
}

/* Start Game */
.full {
  background-color: #a6c2b6;
  min-height: 100vh;
  width: 100%;
}

.full h1 {
  font-family: "MiddleEarth";
}
.btn {
  border-radius: 50px !important;
}

.text-brown {
  color: rgba(225, 200, 160, 1);
  font-weight: 800;
}

/* Start Game */

/* Questions Game */
.question-count {
  padding-top: 1em;
  font-size: 2em;
  font-family: "MiddleEarth";
}
.questions-wrapper {
  padding-top: 3em;
  padding-bottom: 3em;
}
.questions {
  color: #100f14;
  font-family: "MiddleEarth";
  line-height: 1.5;
}
/* Questions Game */

/* Answers Game */
.btn-answer {
  width: 100%;
  color: #ffffff !important;
  background-color: #252d4a !important;
  display: flex;
  padding: 5px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.answer .btn:hover {
  background-color: #252 !important;
}
.answer {
  float: left;
  width: 50%;
  padding: 10px;
}

.test:after {
  content: "";
  display: table;
  clear: both;
}
@media screen and (max-width: 600px) {
  .test {
    width: 100%;
  }
}
/* Answers Game */
/* Score Game */
.jumbotron.score {
  background-color: transparent !important;
  border-color: tomato !important;
}
/* Score Game */
